.cart-item {
  width: 100%;
  display: flex;
  height: 8rem;
  margin-bottom: 1.5rem;

  &--img {
    width: 30%;
  }

  &--content {
    width: 70%;
    display: flex;
    font-size: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 2rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}
